a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    display: block;
}

.btn{
    color: var(--clr_light);
    border: none;
}

.icon__container{
    display: flex;
    align-items: center;
    padding: 5px 8px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    font-size: 1.2rem;
}

.icon__container:hover{
    background-color: var(--bg_dark);

}