
#page__nav{
    color: var(--txt_clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    gap: 3rem;
    height: 54px;
    width: 100%;
}

.nav__blocks{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

#page__nav .nav__blocks:nth-child(2){
    flex: 1 1;
    max-width: 640px;
    justify-content: center;
    overflow: hidden;
    /* border-radius: 30px; */
}
.User_profile_logo{
    width: 28px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.nav__btn{
    aspect-ratio: 1/1;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: var(--bg_dark);
    font-size: 1.1rem;
}

.search-box{
    flex: 1 1;
    display: flex;
    align-items: center;
    box-shadow: none;
    border: none;
    /* outline: 1px solid red; */
    border-radius: 30px;
    overflow: hidden;
}

.search-box>button{
    padding: 10px;
    padding-right: 25px;
    box-shadow: var(--box-shadow);
    border: var(--box-border);

}

.nav__search-container{
    flex: 1 1;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: var(--box-border);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* padding: 6px; */
}

.nav__search-container input {
    flex: 1 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px 15px;
    color: var(--txt_clr);
    min-width: 20px;
}

#search-input:focus .nav__search-container label>img{
    visibility: hidden;
}

.nav__search-container label>img{
    padding-left: 10px;
    visibility: hidden;
}

.search-box > button{
    background-color: var(--bg_dark);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav__menu-btn{
    font-size: 1rem;
}
